body {
  background: url("https://cdn.shopify.com/s/files/1/0007/6916/3322/collections/Banner_bf4d9c3f-6452-4ca9-a4f7-de6092e6b73f.png?v=1598810492") no-repeat fixed center;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
